[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Eduardo Rezaghi
	email = eduardo.taliani@skyone.solutions

[diff]
    tool = lvimdiff

[difftool "lvimdiff"]
    cmd = lvim -f -d $LOCAL $REMOTE

# [difftool "meld"]
# 	cmd = meld $LOCAL $REMOTE
[alias]
	chk = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	graph = log --graph --oneline --decorate --date-order --color --boundary @{u}

	untag = tag --delete
	pushd = push -u origin HEAD
	ll = log --oneline
	discard = reset --hard

# More aliases (from https://bit.ly/34blt41)
	co = checkout
	ds = diff --staged
	amend = commit --amend -C HEAD
	undo = clean -f -d
	undoci = reset HEAD~1
	unstage = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
	lg-full = log --name-status --pretty=fuller

[init]
	defaultBranch = main
[core]
	editor = nvim

# [credential]
# 	helper = manager
[push]
	autoSetupRemote = true
